:root {
    // primary colors
    --primary-pale-blue: hsl(225, 100%, 94%);
    --primary-bright-blue: hsl(245, 75%, 52%);

    // neutral colors taz
    --neutral-very-pale-blue: hsl(225, 100%, 98%);
    --neutral-desaturated-blue: hsl(224, 23%, 55%);
    --neutral-dark-blue: hsl(223, 47%, 23%);
}

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}
html {
    line-height: 1.5;
}
body {
    font-family: 'Red Hat Display', sans-serif;
    background: var(--primary-pale-blue) url('./../../images/pattern-background-desktop.svg') ;
    background-repeat: no-repeat;
    font-size: 16px;
}

img , svg {
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    height: 100lvh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    max-width: 375px;
    border-radius: 1.375rem;
    background: #fff;   
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 2rem;
    }
    &__highlight {
        color: var(--neutral-dark-blue);
        padding: 1em;
        font-weight: 900;
    }
    &__sub-text {
        color: var(--neutral-desaturated-blue);
        text-align: center;
        font-size: 1.125rem;
        font-weight: 500;
    }

    &__info {
        display: flex;
        flex-direction: row;
        padding: 1.125rem 1rem;
        background:  var(--neutral-very-pale-blue);
        align-items: center;
        margin: 1.5rem 0;
        border-radius: 1.125rem;
    }
    &__price {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        strong {
            font-weight: 900;
            color: var(--neutral-dark-blue);
        }
        span {
            color: var(--neutral-desaturated-blue);
            font-weight: 500;
        }

    }
    &__link {
        color: var(--primary-bright-blue);
        font-weight: 700;
        &:hover {
            text-decoration: none;
            opacity: 0.8;
        }
    }
    &__footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        gap: 1rem;
        padding: .5rem 0;
    }
    &__button {
        text-decoration: none;
        padding: 1.25rem;
        border-radius: 0.75rem;

        &--primary {
            background: var(--primary-bright-blue);
            color: white;
            font-weight: 700;
            font-size: 1.125rem;
            transition: opacity 0.3s ease-in;
            box-shadow: 0 1em 1em hsl(223, 47%, 23%, .2);
            &:hover {
                opacity: 0.8;
            }
        }
        &--secondary {
            background: transparent;
            color: var(--neutral-dark-blue);
            font-weight: 700;
            opacity: 0.7;
            font-size: 1.125rem;
        }


    }
}

@media screen and (max-width: 20rem) {
    body {
        background-image: url('./../../images/pattern-background-mobile.svg') ;
    }

    .card {
        max-width: 100%;
        border-radius: 0;
    }

    
}